.info-img {
    max-height: 30vh;
    object-fit: contain;
    padding: 10px;
}

.logoPlataforma{
    width: 50px;
    height:50px;
    display:inline-block;
    border-radius: 0;

}

.rate{

    background-color:green!important;

}

.genres{

    background-color:purple!important;
    margin:1px;

}

.platformList{
margin:2px;


}

.platformListCard{
    margin-top:10px;

}